body {
	background-image:url('lightpaperfibers.png');
	text-align:center;
    font-family:"Amatic SC";
}

#canvas {
	width:750px;
	height:750px;
	border:5px solid #222222;
	opacity:0;
}

h3 {
    font-family:"Indie Flower";
}